div{
    margin: 100px;
}
#div1{
    background-color: maroon;
    height: 80px;
    width: 80px;
  
}
#div2{
    background-color: green;
    height: 50px;
    width: 50px;
}
#div3{
    background-color: black;
    height: 30px;
    width: 30px;
}
#div1:hover{
    background-color: yellow;
    /* transition: background 2s; */
    height: 40px;
    transition: height 2s , background 5s;
}
div  > div{
    margin-left: 200px;
    transition: margin 2s;
    
}